.menu {
    display: none;
}

.profile {
    width: 30vh;
    height: 30vh;
    border-radius: 2.5vh;
    background-image: linear-gradient(135deg, blue, white);
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.profile img {
    height: 100%;
}
